<!DOCTYPE html>
<html>
<head>
  <title>Buy something and Shoo away!</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div class="header"><h1>BOI OUWWER SHOOZ</h1><a href="/shoos/order">Order Now</a></div>
  <%= yield %>
</body>
</html>