<div id='form_header'><h2>ERDER OWWER SHOOS</h2></div>
<link rel="stylesheet" type="text/css" href="style.css">
<div class="form">
<form action = "/shoos" method="post">
<div class="form element">
  <label for="full_name">HOO?:</label>
  <input type="text" name="full_name">
  </div>
  <div class="form element">
  <label for="address">WUR TO?:</label>
  <input type='text' name='address'>
  </div>
  <div class="form element">
  <label for="shoe_type">Wut SHOO?:</label>
  <select name ="shoe_type">
    <option value = "No1">No1 -by Shoo Mcgrue</option>
  </select>
  </div>
  <div class="form element">
  <label for="quantity">OW MUNY?:</label>
  <input type="number" name="quantity">
  </div>
  <div class="form element">
  <label for="size">Syhz:</label>
  <select name='size'>
    <option value = 7>7</option>
    <option value = 8>8</option>
    <option value = 9>9</option>
    <option value = 10>10</option>
    <option value = 11>11</option>
  </select>
  </div>
  <div class="submit"><input type="submit" name="Order Submit"></div>

</form>
</div>